@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ty's Website";

}

<h1>Ty's Website</h1>
<img src="img/IMG_2856.JPG" class="bigImage" />
<p class="paragraph1">
    I hope to get a lot out of IS 413. I know there is much to learn about C#, ASP.NET, and more. I hope to learn how to create a functioning webapp with this class.
    I'm going to be honest: I don't really like web development, so I hope that I can enjoy this class despite that.
</p>

<br />
<h3>Top 3 Jobs:</h3>

<ol>
    <li>Cybersecurity Consultant</li>
    <li>Database Manager</li>
    <li>Software Developer</li>
</ol>